@using RhythmiX.Service.Command.User.Register

@model RegisterUserCommand

@{
    ViewData["Title"] = "Signup";
    ViewData["StyleLink"] = "signup.css";
    Layout = "_AuthzLayout";
}

<div class="singup-container">
    <div class="signup-box">
        <div class="signup-logo">
            <h2 class="welcome-text">Welcome to</h2>
            <img src="~/images/app_logo.png" class="app-logo" />
        </div>

        <div class="sound-track">
            <img src="~/images/sound_track.png" />
        </div>

        <form class="form" asp-controller="signup" asp-action="index" method="post">
            <div class="input-group">
                <label asp-for="Username">Username</label>
                <div class="input-icon">
                    <img src="~/images/user_circle.png" class="icon" />
                    <input type="text" asp-for="Username" placeholder="Type your username" />
                </div>
                <span asp-validation-for="Username"></span>
            </div>

            <div class="input-group">
                <label asp-for="Email">Email</label>
                <div class="input-icon">
                    <img src="~/images/envelope.png" class="icon" />
                    <input type="email" asp-for="Email" placeholder="Type your email" />
                </div>
                <span asp-validation-for="Email"></span>
            </div>

            <div class="input-group">
                <label asp-for="Password">Password</label>
                <div class="input-icon">
                    <img src="~/images/lock_key.png" class="icon" />
                    <input type="password" asp-for="Password" placeholder="Type your password" />
                </div>
                <span asp-validation-for="Password"></span>
            </div>

            <div class="input-group">
                <label asp-for="RepeatPassword">Confirm Password</label>
                <div class="input-icon">
                    <img src="~/images/lock_key.png" class="icon" />
                    <input type="password" asp-for="RepeatPassword" placeholder="Type your password" />
                </div>
                <span asp-validation-for="RepeatPassword"></span>
            </div>

            <button type="submit" class="signup-button">Submit</button>
        </form>
    </div>
</div>