@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<form class="container">
    <img src="~/images/app_logo.png" class="app-logo">
    <div class="input-div">
        <h2 class="input-label">Email</h2>
        <span class="input-with-icon">
            <img src="~/images/envelope.png" />
            <input type="email" class="input email" placeholder="Type your email" />
        </span>
    </div>
    <div class="input-div">
        <h2 class="input-label">Password</h2>
        <span class="input-with-icon">
            <img src="~/images/lock_key.png" />
            <input type="password" class="input password" placeholder="Type your password" />
        </span>
    </div>

    <div class="checkbox-div">
        <input type="checkbox" id="checkbox" />
        <label for="checkbox" class="checkbox-label">Remember me</label>
    </div>

    <button type="submit" class="login-button">Login</button>

    <p class="bottom-text">Don't have account yet? <a class="sing-up-link" asp-controller="signup" asp-action="index">Sing up</a></p>
</form>