@using RhythmiX.Service.Command.User.Login

@model LoginUserCommand

@{
    ViewData["Title"] = "Login";
    ViewData["StyleLink"] = "login.css";
    Layout = "_AuthzLayout";
}

<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <img src="~/images/app_logo.png" alt="RhythmiX Logo">
        </div>
        <form asp-controller="login" asp-action="index" method="post">
            <div class="input-group">
                <label asp-for="Username">Username</label>
                <div class="input-icon">
                    <input asp-for="Username" type="text" id="username" placeholder="Type your username">
                    <img src="~/images/user_circle.png" class="icon" alt="Username Icon">
                </div>
                <span asp-validation-for="Username"></span>
            </div>
            <div class="input-group">
                <label asp-for="Password">Password</label>
                <div class="input-icon">
                    <input asp-for="Password" type="password" id="password" placeholder="Type your password">
                    <img src="~/images/lock_key.png" class="icon" alt="Password Icon">
                </div>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <button type="submit" class="login-button" id="login">Login</button>
            <div class="signup-link">
                <p>Don't have an account yet? <a asp-controller="signup" asp-action="index">Sign up</a></p>
            </div>
        </form>
    </div>
</div>

<script src="~/js/rememberMe.js"></script>