@{
    ViewData["Title"] = "Login";
    ViewData["StyleLink"] = "login.css";
    Layout = "_AuthzLayout";
}

<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <img src="~/images/app_logo.png" alt="RhythmiX Logo">
        </div>
        <form>
            <div class="input-group">
                <label for="username">Username</label>
                <div class="input-icon">
                    <input type="text" id="username" name="username" placeholder="Type your username">
                    <img src="~/images/user_circle.png" class="icon" alt="Username Icon">
                </div>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <div class="input-icon">
                    <input type="password" id="password" name="password" placeholder="Type your password">
                    <img src="~/images/lock_key.png" class="icon" alt="Password Icon">
                </div>
            </div>
            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <button type="submit" class="login-button"
                asp-controller="main" asp-action="home">Login</button>
            <div class="signup-link">
                <p>Don't have an account yet? <a asp-controller="signup" asp-action="index">Sign up</a></p>
            </div>
        </form>
    </div>
</div>